@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cosplay accomodation</h1>
    <p class="lead">
        <em>Cos Stay</em> lets you find cosplay-friendly accomodation near to the next convention you're attending.
    </p>
    <p><a href="/home/about/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>List your house, flat or motel</h2>
        <p>
            If you live in a city that hosts a cosplay event, you can list your place and people can apply
            to stay for the event. A great way to meet cosplayers and make new friends.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Find somewhere to stay</h2>
        <p>
            Sometimes you'd rather stay with other cosplayers either to save money or to make new friends. Find 
            people willing to have others stay with them with Cos Stay.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>