body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

h5 {
    margin: 0;
    padding: 2px 0;
    border-bottom: 1px solid @brand-primary;
    font-size: 1.1em;
}
h5 input{
    border: 0;
    font-size:inherit;
    color:inherit;
    font-weight: bold;
    padding: 2px 0;

}

.rooms
{
    list-style: none;
    padding: 0;
    margin: 0;

    .room {
        float: left;
        width: 300px;
        min-height: 200px;
        border: 1px solid @brand-primary;
        margin: 10px;
        padding: 10px;
        position: relative;

        .beds {
            list-style: none;
            padding: 0;
            margin: 0;

            .bed {
                .edit-bed {
                    display: none;
                }
                .display-bed {
                    display: block;
                }
            }
            .bed.edit-bed {
                .edit-bed {
                    display: block;
                }
                .display-bed {
                    display: none;
                }
            }
        }

        .id {
            position: absolute;
            bottom: 1px;
            left: 1px;
            color: #999;
            font-size:0.7em;            
        }
        .id::before {
                content: '#'
            }
        .remove-room {
            position: absolute;
            top: 1px;
            right: 1px;
        }
    }
    .room.deleted {
        opacity: 0.5;
    }
}

#mini-clndr {
            margin: 0 auto;
            width: 294px;
        }

            #mini-clndr .clndr {
                overflow: hidden;
                border-bottom: 7px solid @brand-primary;
            }

                #mini-clndr .clndr .controls {
                    background-color: @brand-primary;
                    color: white;
                }

                    #mini-clndr .clndr .controls .clndr-previous-button,
                    #mini-clndr .clndr .controls .clndr-next-button {
                        width: 15%;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        display: inline-block;
                        text-align: center;
                        cursor: pointer;
                        -webkit-user-select: none;
                        /* Chrome/Safari */
                        -moz-user-select: none;
                        /* Firefox */
                        -ms-user-select: none;
                        /* IE10+ */
                        -webkit-transition: background-color 0.5s;
                        -moz-transition: background-color 0.5s;
                        -ms-transition: background-color 0.5s;
                        -o-transition: background-color 0.5s;
                        transition: background-color 0.5s;
                    }

                        #mini-clndr .clndr .controls .clndr-previous-button:hover,
                        #mini-clndr .clndr .controls .clndr-next-button:hover {
                            background-color: darken(@brand-primary, 10%);
                        }

                    #mini-clndr .clndr .controls .month {
                        width: 70%;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        display: inline-block;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 700;
                        letter-spacing: 1px;
                    }

                #mini-clndr .clndr .days-container {
                    position: relative;
                    width: 294px;
                    height: 200px;
                    display: inline-block;
                }

                    #mini-clndr .clndr .days-container .days {
                        position: absolute;
                        left: 0;
                        width: 294px;
                        height: 200px;
                        -webkit-transition: left 0.5s;
                        -moz-transition: left 0.5s;
                        -ms-transition: left 0.5s;
                        -o-transition: left 0.5s;
                        transition: left 0.5s;
                        background-color: lighten(@gray-lighter, 4%);
                    }

                        #mini-clndr .clndr .days-container .days .day,
                        #mini-clndr .clndr .days-container .days .empty {
                            width: 42px;
                            display: inline-block;
                            padding-top: 8px;
                            padding-bottom: 8px;
                            font-size: 12px;
                            text-align: center;
                            color: #212121;
                            border-right: 1px solid rgba(255, 255, 255, 0.5);
                            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                        }

                            #mini-clndr .clndr .days-container .days .day.event,
                            #mini-clndr .clndr .days-container .days .empty.event {
                                background-color: @gray-light;
                                color: white;
                                -webkit-transition: background-color 0.5s;
                                -moz-transition: background-color 0.5s;
                                -ms-transition: background-color 0.5s;
                                -o-transition: background-color 0.5s;
                                transition: background-color 0.5s;
                                cursor: pointer;
                            }

                            #mini-clndr .clndr .days-container .days .day.adjacent-month,
                            #mini-clndr .clndr .days-container .days .empty.adjacent-month {
                                color: rgba(0, 0, 0, 0.3);
                                background-color: lighten(@gray-lighter, 7%);
                            }

                        #mini-clndr .clndr .days-container .days .empty {
                            height: 31px;
                            vertical-align: bottom;
                        }

                        #mini-clndr .clndr .days-container .days .headers {
                            background-color: darken(@brand-primary, 10%);
                            padding-top: 5px;
                            padding-bottom: 5px;
                        }

                            #mini-clndr .clndr .days-container .days .headers .day-header {
                                width: 42px;
                                display: inline-block;
                                text-align: center;
                                color: white;
                            }
                            
.tile
{
    background: transparent top left no-repeat;
    background-size:cover;
    float: left;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 20px 20px 0;
}

.tile .tile-heading{
    text-shadow: 0px 0px 5px black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6.5em;
    padding: 10px;
    background: rgba(20,20,20, 0.7);
    color: white;
}
.tile .tile-heading header
{
    font-size: 1.2em;
    font-weight: bold;
}


            .marker-label,
            .marker-icon {
                z-index: 99;
                position: absolute;
                display: block;
                margin-top: -38px;
                margin-left: -11px;
                width: 23px;
                height: 32px;
                font-size: 17px !important;
                text-align: center;
                color: #FFFFFF;
                white-space: nowrap;
            }
